<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecSys</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        @*Meh: To add each page style on top of the page*@
        <link rel="stylesheet" href="~/css/Meh.css" />
        @RenderSection("Styles", required: false)

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RecSys</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">UK retail <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="UkRetail" asp-controller="Dataset" asp-action="Index">Dataset</a></li>
                            <li><a asp-area="UkRetail" asp-controller="SequentialPatterns" asp-action="Index">Sequential Patterns</a></li>
                            <li><a asp-area="UkRetail" asp-controller="SequentialRec" asp-action="Index">SPM Recommendation</a></li>



                            <li><a asp-area="UkRetail" asp-controller="SequentialRecPurchased" asp-action="Index">SPM Purchased Recommendation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="SequentialPurchasedEvaluation" asp-action="Index">SPM Purchased Evaluation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="SequentialRecNotPurchased" asp-action="Index">SPM Not Purchased Recommendation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="SequentialNotPurchasedEvaluation" asp-action="Index">SPM Not Purchased Evaluation</a></li>



                            <li><a asp-area="UkRetail" asp-controller="CollaborativeFiltering" asp-action="Index">Collaborative Recommendation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="CollaborativeEvaluation" asp-action="Index">Collaborative Evaluation</a></li>

                            <li><a asp-area="UkRetail" asp-controller="CollaborativeNotPurchasedEvaluation" asp-action="Index">Collaborative Notpurchased Evaluation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="PurchaseHistoryEvaluation" asp-action="Index">Purchase History Evaluation</a></li>

                            <li><a asp-area="UkRetail" asp-controller="EnsembleRec" asp-action="Index">Ensemble Recommendation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="EnsembleEvaluation" asp-action="Index">Ensemble Evaluation</a></li>
                            <li><a asp-area="UkRetail" asp-controller="EnsembleWeightTesting" asp-action="Index">Ensemble Weight Testing</a></li>
                            <li><a asp-area="UkRetail" asp-controller="ProductSimilarity" asp-action="Index">Smilarity</a></li>
                            <li><a asp-area="UkRetail" asp-controller="ContentRecSys" asp-action="Index">Content-based Recommendation</a></li>
                        </ul>
                    </li>

                    <li><a asp-area="" asp-controller="Spm" asp-action="Index">SPM</a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RecSys</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/Meh.js" ></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
