@model List<WeightAccuracyNrec>
@{
    ViewData["Title"] = "EvaluationResults";
}

<h2>Evaluation Results</h2>

<div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">PurchaseWeight</th>
                <th scope="col">CollaborativeNotPurcasedWeight</th>
                <th scope="col">SpmPurchasedWeight</th>
                <th scope="col">SpmNotPurchasedWeight</th>
                <th scope="col">F1Score5</th>
                <th scope="col">F1Score10</th>
                <th scope="col">F1Score20</th>
                <th scope="col">F1Score50</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var weightAccuracyNrec in Model.OrderByDescending(a => a.AccuracyNrec.F120))
                {
                        <tr>
                            <td>@weightAccuracyNrec.PurchaseWeight</td>
                            <td>@weightAccuracyNrec.CollaborativeNotPurcasedWeight</td>
                            <td>@weightAccuracyNrec.SpmPurchasedWeight</td>
                            <td>@weightAccuracyNrec.SpmNotPurchasedWeight</td>
                            <td>@weightAccuracyNrec.AccuracyNrec.F15</td>
                            <td>@weightAccuracyNrec.AccuracyNrec.F110</td>
                            <td>@weightAccuracyNrec.AccuracyNrec.F120</td>
                            <td>@weightAccuracyNrec.AccuracyNrec.F150</td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>